<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>  
  </configSections>  
  <connectionStrings>    
    <add name="Magistrinis.Tests.UniversityContext" connectionString="data source=(local)\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=University;" providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>